.container {
    display: flex;
    padding: 10px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
}

.box {
    background-color: aqua;
    border: 3px solid black;
    color: azure;
    height: 150px;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: transform 5s ease; /* transition applies to transform changes */
    perspective: 100px;

}

.box {
    position: relative;
    transition: transform 5s ease;
    transform-style: preserve-3d; /*this line imp for show back text */
}


.box:hover{
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white; /* text color */
    width: 100%;
    height: 100%;
   background-color: aqua; /* SAME color for both sides */

}
.back {
    transform: rotateY(180deg);
}

.front {
    background-color: aqua; /* front side color */
}

.back {
    background-color: red;  /* back side color */
    transform: rotateY(180deg);
}


