.box{
    height: 100px;
    width: 300px;
    background-color: gray;
    border: 2px solid blue;
    text-align: center;
    margin-bottom: 20px;

}
.box1{
    position: static; /*No move any thing only use stable property */
    left: 300px;
}
.box2{
    position: relative;
    left: 300px;
    top: 20px;
}
.box3{
    position: absolute;
    left: 400px;
    top: 20px;


}
.box4{
    position: fixed;
    bottom: 0px;
    right: 10px;
}
.box5{
    position: sticky;
    top: 10px;
}